@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

* {
  transition: all 0.3s ease-out;
}

html,
body {
  height: 100%;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  background: -webkit-linear-gradient(-45deg, #938e8f 33%, #d5dbc8 78%);
}

.card-head {
  background: #6ca414;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #6ca414 38%, #FFF 73%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #6ca414 38%, #FFF 73%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #6ca414 38%, #FFF 73%);
  /* IE6-9 fallback on horizontal gradient */
  height: 13em;
  border-radius: 5px;
}

.back-text {
  display: inline-block;
  font-size: 5em;
  font-weight: 900;
  margin-left: 0.2em;
  opacity: 0.1;
}

img {
  width: 100%;
  height: 100%;
  max-width: 35em;
  border-radius: 10px;
  object-fit: cover;
}

button {
  margin-left: 10px;
}

table {
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 5px;
}

thead {
  border-bottom: solid 2px black;
  background: -webkit-linear-gradient(-45deg, #938e8f 33%, #d5dbc8 78%);
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #ecfce9;
  ;

}

tr:hover td {
  background-color: #eaeaea;
  color: white;
  cursor: pointer;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: 1;
}

.drag-drop span.desc {
  display: block;
  font-size: .7em;
  padding: 0 .5em;
  color: #000;
}

input[type="file"] {
  height: 10em;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}


#Download {
  width: 100%;
  max-width: 18em;
  min-width: 2em;
  height: 8em;
  margin: 10px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon {
  margin: 0 auto;
  width: 100%;
  height: 3em;
  max-width: 3em;
  background: linear-gradient(90deg, #61a832 0%, #529c21 40%, rgba(0, 0, 0, 0.28) 60%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

button {
  padding: 24px 2px 24px 2px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

#Download .text {
  font-family: "Nunito";
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: #333;
  font-weight: 600;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}

#Download:hover {
  height: 8em;
}

#Download:hover .info {
  height: 90%;
}

#Download:hover .text {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 50px;
}

#Download:hover .icon {
  background-position: -120px;
  transition: all 0.3s ease;
}

#Download:hover .icon i {
  background: linear-gradient(90deg, #61a832, #539e22);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .back-text {
    display: none;
  }

  button {
    padding: 14px 2px 16px 2px;
  }

  #Download .text {
    display: none;
  }
  .card-head{
    height: 9em;
  }
}